<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.config.mapper.EntityTypeMapper">
    
    <resultMap type="EntityType" id="EntityTypeResult">
        <result property="entityTypeId"    column="entity_type_id"    />
        <result property="entityTypeName"    column="entity_type_name"    />
        <result property="entityTypeDesc"    column="entity_type_desc"    />
        <result property="weight"    column="weight"    />
        <result property="remark"    column="remark"    />
        <result property="orderSort"    column="order_sort"    />
        <result property="icon"    column="icon"    />
        <result property="enableStatus"    column="enable_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectEntityTypeVo">
        select entity_type_id, entity_type_name, entity_type_desc, weight, remark, order_sort, icon, enable_status, create_by, create_time, update_by, update_time from config_entity_type
    </sql>

    <select id="selectEntityTypeAll" parameterType="EntityType" resultMap="EntityTypeResult">
		<include refid="selectEntityTypeVo"/>
        <where>
            <if test="enableStatus != null "> and enable_status = #{enableStatus}</if>
        </where>
        order by order_sort
	</select>

    <select id="selectEntityTypeList" parameterType="EntityType" resultMap="EntityTypeResult">
        <include refid="selectEntityTypeVo"/>
        <where>  
            <if test="entityTypeName != null  and entityTypeName != ''"> and entity_type_name like concat('%', #{entityTypeName}, '%')</if>
            <if test="enableStatus != null "> and enable_status = #{enableStatus}</if>
        </where>
        order by order_sort
    </select>
    
    <select id="selectEntityTypeByEntityTypeId" parameterType="Long" resultMap="EntityTypeResult">
        <include refid="selectEntityTypeVo"/>
        where entity_type_id = #{entityTypeId}
    </select>
        
    <insert id="insertEntityType" parameterType="EntityType">
        insert into config_entity_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entityTypeId != null">entity_type_id,</if>
            <if test="entityTypeName != null">entity_type_name,</if>
            <if test="entityTypeDesc != null">entity_type_desc,</if>
            <if test="weight != null">weight,</if>
            <if test="remark != null">remark,</if>
            <if test="orderSort != null">order_sort,</if>
            <if test="icon != null">icon,</if>
            <if test="enableStatus != null">enable_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entityTypeId != null">#{entityTypeId},</if>
            <if test="entityTypeName != null">#{entityTypeName},</if>
            <if test="entityTypeDesc != null">#{entityTypeDesc},</if>
            <if test="weight != null">#{weight},</if>
            <if test="remark != null">#{remark},</if>
            <if test="orderSort != null">#{orderSort},</if>
            <if test="icon != null">#{icon},</if>
            <if test="enableStatus != null">#{enableStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEntityType" parameterType="EntityType">
        update config_entity_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="entityTypeName != null">entity_type_name = #{entityTypeName},</if>
            <if test="entityTypeDesc != null">entity_type_desc = #{entityTypeDesc},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="orderSort != null">order_sort = #{orderSort},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="enableStatus != null">enable_status = #{enableStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where entity_type_id = #{entityTypeId}
    </update>

    <delete id="deleteEntityTypeByEntityTypeId" parameterType="Long">
        delete from config_entity_type where entity_type_id = #{entityTypeId}
    </delete>

    <delete id="deleteEntityTypeByEntityTypeIds" parameterType="String">
        delete from config_entity_type where entity_type_id in 
        <foreach item="entityTypeId" collection="array" open="(" separator="," close=")">
            #{entityTypeId}
        </foreach>
    </delete>
</mapper>